/* Basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

/* Header styles */
header {
  background-color: #f2f2f2;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

/* Main content styles */
main {
  padding: 40px 20px;
}

/* Rankings section styles */
.rankings {
  margin: 20px auto;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.rankings h2 {
  margin: 10px;
  text-align: center;
}

.rankings table {
  width: 100%;
  border-collapse: collapse;
}

.rankings table th,
.rankings table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.rankings table th {
  background-color: #f2f2f2;
}

.rankings table tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Filters section styles */
.filtros {
  margin: 20px auto;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
}

.filtros h2 {
  margin: 10px;
  text-align: center;
}

.filtros form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtros label {
  margin: 10px;
  font-weight: bold;
}

.filtros select {
  padding: 5px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filtros button {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

/* New styles for improved ranking */

/* Updated styles for card layout */
.card {
  width: 250px;
  height: 150px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #ddd;
  border-radius: 4px;
}

.card span {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.ranking-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}

.ranking-table th,
.ranking-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.ranking-table th {
  background-color: #f2f2f2;
}

/* Updated color scheme with purple shades */

body {
  color: #4a148c;
  /* Dark Purple */
}

header {
  background-color: #7851a9;
  /* Medium Purple */
  color: #fff;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

.filtros,
.rankings {
  border: 1px solid #7851a9;
  /* Medium Purple */
}

.card {
  background-color: #7851a9;
  /* Medium Purple */
  color: #fff;
}

.ranking-table th {
  background-color: #6a3790;
  /* Violet */
}

.ranking-table tr:nth-child(even) {
  background-color: #8e79bd;
  /* Slate Blue */
}

.filtros button {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #6a3790;
  /* Violet */
  border-radius: 4px;
  cursor: pointer;
  background-color: #6a3790;
  /* Violet */
  color: #fff;
}

.filtros button:hover {
  background-color: #4a148c;
  /* Dark Purple */
}
