/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Global styles */
*,
html,
body,
content {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #4a148c; /* Dark Purple */
}

/* Header styles */
header {
  background-color: #7851a9; /* Medium Purple */
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

header h1 {
  font-size: 24px;
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInUp 1s ease-in-out; /* New animation name and properties */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly off-screen (upward) */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End in original position */
  }
}

/* Responsive layout for main content and sections */


.ranking-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.rankings h2 {
  margin: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.ranking-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
    border-radius: 4px;
  }


.ranking-table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;

}

/* Improved card layout for rankings (responsive) */
.rankings {
  display: flex; /* Allow flexbox for responsive row/column behavior */
  flex-direction: column; /* Stack elements vertically by default */
  align-items: center; /* Center content horizontally within card */
  justify-content: center; /* Center content vertically within card */
  width: calc(100% - 20px); /* Responsive width based on parent container */
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #ddd;
  border-radius: 4px;
}

.rankinwgs span {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Media queries for additional responsive adjustments (optional) */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens here,
     e.g., change flex direction for cards on mobile */
  .ranings {
    flex-direction: row; /* Lay cards horizontally on mobile */
  }
}

/* Filters section styles */
.filtros h2 {
  margin: 10px;
  text-align: center;
}

.filtros form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtros label {
  margin: 10px;
  font-weight: bold;
}

.filtros select {
  padding: 5px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filtros button {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

